.coffee {
    margin: auto;
    padding-bottom: 15px;
    background-color: $page-background-color;
    &-head {
        margin: auto;
        width: 60%;
        h1 {
            padding-top: 30px;
            font-size: 1.875rem;
        }

        p {
            padding-bottom: 10px;
            a {
                font-weight: bold;
                color: $header-main-hover;
                &:hover {
                    color: $hover-color;
                }
            }
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 63%;
        h2 {
            border-bottom: 2px solid $header-main-hover;
            text-transform: uppercase;
            letter-spacing: 1px; 
            font-weight: lighter;
            font-size: 1.335rem;
            font-family: $header-font;
            color: $header-main-hover;
        }

        li {
            margin: 0 auto;
            padding: 20px 0; 
            width: 45%;
            img {
                margin: auto;
                width: 100%;
            }

            div p:nth-child(1) {
                padding: 15px 0 10px;
                letter-spacing: 1px; 
                font-weight: lighter;
                font-style: italic;
                font-family: $header-font;
                color: $header-main-hover;
            }
        }
    }
}


@media only screen and (max-width: 1500px) {

    .coffee ul {
        width: 70%;
        li {
            padding: 15px 0; 
            width: 51%;
        }
    }
}

@media only screen and (max-width: 1200px) {

    .coffee ul {
        width: 80%;
        li {
            width: 53%;
        }
    }
}


@media only screen and (max-width: 1000px) {
    
    .coffee {
        padding-bottom: 20px;
        &-head {
            h1 {
                font-size: 1.563rem;
            }

            p {
                padding-bottom: 5px;
            }
        } 
    
        ul {            
            width: 90%;
            li {
                padding: 10px 0; 
                width: 58%;
            }    
        } 
    }
}

@media only screen and (max-width: 805px) {

    .coffee ul { 
        width: 100%;
        li {
            width: 60%;
        }
    }
}

@media only screen and (max-width: 700px) {

    .coffee {
        &-head {
            width: 90%;
        }

        ul li {
            width: 70%;
        }
    }
}

@media only screen and (max-width: 500px) {

    .coffee {
        padding-bottom: 10px;
        &-head {
            h1 {
                padding-top: 20px;
                font-size: 1.25rem;
            }

            p {
                font-size: 1rem;
                a:hover {
                    color:$header-main-hover;
                    &:active {
                        color:$hover-color;
                    }
                }
            }
        }

        ul { 
            width: 96%;
            h2 {
                font-size: 1.125rem;
            }
            
            li {
                width: 94%;
                div p {
                    font-size: 1rem;
                }
            }
        }
    }
}
