$header-font: 'Alfa Slab One', 'Times New Roman', Times, serif;
$header-main-hover:#4a2c2a;
$hover-color: white;
$page-background-color:#e6e0d4;	

.coffee {
    margin: auto;
    padding-bottom: 20px;
    background-color: $page-background-color;
    &-head {
        margin: auto;
        width: 60%;
        h1 {
            padding-top: 30px;
            font-weight: lighter;
            letter-spacing: 2px; 
            font-size: 1.875rem;
            font-family: $header-font;
            color: $header-main-hover;
        }

        p {
            padding-bottom: 10px;
            a {
                font-weight: bold;
                color: $header-main-hover;
                &:hover {
                    color: $hover-color;
                }
            }
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        width: 65%;
        li > p:nth-child(1) {
            border-bottom: 2px solid $header-main-hover;
            text-transform: uppercase;
            letter-spacing: 1px; 
            font-weight: lighter;
            font-size: 1.335rem;
            font-family: $header-font;
            color: $header-main-hover;
        }

       li {
            margin: 0 auto;
            padding: 20px; 
            width: 45%;
            img {
                margin: auto 0;
                width: 100%;
            }

            div {
                p:nth-child(1) {
                    padding: 20px 0 10px;
                    letter-spacing: 1px; 
                    font-weight: lighter;
                    font-style: italic;
                    font-family: $header-font;
                    color: $header-main-hover;
                }
            }
        }
    }
}

@media only screen and (max-width: 1590px) {

    .coffee {
        ul li {
            padding: 15px; 
            width: 71%;
        }
    }
}

@media only screen and (max-width: 1000px) {
    
    .coffee {
        &-head {
            h1 {
                font-size: 1.563rem;
            }

            p {
                padding-bottom: 5px;
            }
        } 
    
        ul li {
            padding: 10px; 
            width: 97%;
        }
    } 
}

@media only screen and (max-width: 700px) {

    .coffee {
        &-head {
            width: 90%;
        }

        ul {
            width: 100%;
            li {
                width: 80%;
            }
        }
    }
}

@media only screen and (max-width: 500px) {

    .coffee {
        padding-bottom: 10px;
        &-head {
            a:hover {
                color:$header-main-hover;
                &:active {
                    color:$hover-color;
                }
            }
            
            h1 {
                padding-top: 20px;
                font-size: 1.25rem;
            }

            p {
                font-size: 1rem;
            }
        }

        ul {
            li > p:nth-child(1) {
                font-size: 1.125rem;
            }
            
            li {
                width: 96%;
                div {
                    p:nth-child(2) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 330px) {

    .coffee {
        ul {
            li > p:nth-child(1) {
                font-size: 1rem;
            }

            li {
                width: 96%;
                div {
                    p:nth-child(1) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
