$footer-font: 'Merriweather', 'Times New Roman', Times, serif;
$footer-hover: #d6c6b4;
$footer-background-color: #63545f;	
$hover-color: white;

footer {
    display: flex;
    flex-direction: column;
    padding: 10px 0 15px;
    background-color: $footer-background-color;
    ul:nth-child(1) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        li a {
            margin: auto 50px;
            font-size: 1.375rem;
            font-weight: bold;
            font-family: $footer-font;
            color: $hover-color;
            &:hover {
                color: $footer-hover;
            }
        }
    }
        
    ul:nth-child(2) li {
        display: block;
        font-family: $footer-font;
        color: $hover-color;
        p:nth-child(1) {
            padding: 10px 0;
            text-align: center;
            font-size: 1.25rem;
            font-weight: bold;
        }

        p:nth-child(2) {
            text-align: center;
            a {
                margin: 0 5px;
                color: #C8F000;
                &:hover {
                    color: $footer-hover;
                }
            }
        }

        p:nth-child(3) {
            margin: -28px 30px 0;
            font-size: 1.125rem;
        }
    }
}
          
@media only screen and (max-width: 1200px) {

    footer {
        ul:nth-child(1) li a {
            margin: auto 40px;
        }

        ul:nth-child(2) li p:nth-child(3) {
            position: static;
            margin: 10px 0 0 0;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 650px) {

    footer {
        padding: 5px 0 10px;
        ul:nth-child(1) {
            a:before {
                display: inline-block;
                padding-right: 7px;
                content: "·";
            }
                
            li a, 
            .footer-home {
                margin: auto 5px;
                font-size: 1.125rem;
            }
        }

        /* no dot before home */
        ul:nth-child(1) .footer-home:before {
            content: none;
        }

        ul:nth-child(2) li {
            p:nth-child(1),
            p:nth-child(2) {
                font-size: 1rem;
            }

            p:nth-child(3) {
                font-size: 0.875rem;
            }
        }  
    }  
}      

@media only screen and (max-width: 500px) {

    footer {
        ul:nth-child(1) {
            li a, 
            .footer-home {
                font-size: 1rem;
                &:hover {
                    color: $hover-color;
                }

                &:active {
                    color: $footer-hover;
                }
            }
        }

        ul:nth-child(2) li p:nth-child(2) a {
            &:hover {
                color: #C8F000;
            }
            
            &:active {
                color: $footer-hover;
            }
        }
    }
}
 