$footer-font: 'Merriweather';	
$footer-hover: #d6c6b4;
$footer-backgroundcolor: #63545f;	

footer {
    display: flex;
    flex-direction: column;
    background-color: $footer-backgroundcolor;
    padding: 10px 0 15px;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        li a {
            color: white;
            font-size: 1.375rem;
            font-weight: bold;
            margin: auto 50px;
            font-family:$footer-font;
            &:hover {
                color: $footer-hover;
            }
        }
    }
        
    .footer__socialmedia {
        display: block;
        p:nth-child(1) {
            text-align: center;
            font-size: 1.25rem;
            color: white;
            font-weight: bold;
            padding: 10px 0 10px;
            font-family: $footer-font;
        }

        p:nth-child(2) {
            color: white;
            text-align: center;
            font-family: $footer-font;
            a {
                color: #C8F000;
                margin: 0 5px;
                &:hover {
                    color: $footer-hover;
                }
            }
        }

        p:nth-child(3) {
            color: white;
            font-family:$footer-font;
            font-size: 1.125rem;
            margin: -28px 30px 0;
        }
    }
}
          
@media only screen and (max-width: 1200px) {

    footer .footer__socialmedia{
        p:nth-child(3) {
            text-align: center;
            margin: 10px 0 0 0;
            position: static;
        }
    }
}

@media only screen and (max-width: 720px) {

    footer {
        padding: 5px 0 10px;
        ul {
            a:before {
                content: "·";
                display: inline-block;
                padding-right: 7px;
            }
                
            li a, .footer__home {
                font-size: 1.125rem;
                margin: auto 5px;
            }
        }

        .footer__socialmedia {
            p:nth-child(1) {
                font-size: 1rem;
            }

            p:nth-child(2) {
                font-size: 1rem;
                color: white;
                text-align: center;
                font-family: $footer-font;
                a {
                    font-size: 1rem;
                }
            }

            p:nth-child(3) {
                font-size: 0.875rem;
            }
        }  

        /* no dot before home */
        ul .footer__home:before {
            content: none;
        }
    }  
}      

@media only screen and (max-width: 500px) {

    footer {
        ul {
            li a, .footer__home {
                font-size: 1rem;
                &:hover {
                    color: white;
                }
                &:active {
                    color: $footer-hover;
                }
            }
        }

       .footer__socialmedia {
            p:nth-child(2) a {
                &:hover {
                    color: #C8F000;
                }
                
                &:active {
                    color: $footer-hover;
                }
            }
        }
    }
}

 
 