.loader-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.75s, visibility 0.75s;
    &-hidden {
        opacity: 0;
        visibility: hidden;
    }

    &::after {
        content: "";
        width: 100px;
        height: 100px;
        border: 15px solid $header-main-hover;
        border-top: 15px solid white;
        border-radius: 50%;
        animation: loading 0.75s ease infinite;
        -webkit-animation: loading 0.75s ease infinite;
    }

    @keyframes loading {
        from {
            transform: rotate(0turn);
        }
        
        to {
            transform: rotate(1turn);
        }
    }

    @-webkit-keyframes loading {
        from {
            -webkit-transform: rotate(0turn);
        }
        
        to {
            -webkit-transform: rotate(1turn);
        }
    }
}

@media screen and (max-width: 800px) {
    
    .loader-animation::after {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 500px) {
   
    .loader-animation::after {
        width: 30px;
        height: 30px;
        border: 10px solid $header-main-hover;
        border-top: 10px solid white;
    }
}