$header-font: 'Alfa Slab One';	
$header-main-hover:#4a2c2a;
$page-background-color:#e6e0d4;	

.menu {
    margin: auto;
    padding-bottom: 40px;
    background-color: $page-background-color;
    h1 {
        margin: auto;
        padding-top: 30px;
        width: 60%;
        letter-spacing: 2px; 
        font-weight: lighter;
        font-family: $header-font;
        color: $header-main-hover;
    }

    &-box {
        display: flex;
        justify-content: center;
        row-gap: 20px;
        column-gap: 120px;
        margin: auto;
        ul li {
            display: flex;
            justify-content: space-between;
            margin: auto;
            h3 {
                padding: 20px 0 5px;
                letter-spacing: 2px; 
                font-weight: lighter;
                font-family: $header-font;
                color: $header-main-hover;
            }

            div:nth-child(2) {
                margin-left: 150px;
            }
        }

        .add {
            margin-bottom:-20px;
            h3 {
                font-size: 1.5rem;
                color: rgb(119, 1, 1);
            }
        }  
    }
}

@media only screen and (max-width: 1580px) {

    .menu {
        h1 {
            width: 80%; 
        }
    }
}

@media only screen and (max-width: 1190px) {

    .menu {
        h1 {
            width: 95%; 
        }
    }
}

@media only screen and (max-width: 1000px) {

    .menu {
        h1 {
            width: 70%; 
            font-size: 1.563rem;
        }

        &-box {
            display: block;
            row-gap: 20px;
            padding: 0 20%;
            ul li {
                font-size: 1.15rem;
                h3 {
                    font-size: 1.25rem;
                }
            }

            .add h3 {
                font-size: 1.375rem;
            }
        }
    }
}

@media only screen and (max-width: 700px) {

    .menu {
        h1 {
            width: 83%; 
        }
    
        &-box {
            padding: 0 9%;
        }
    }
}

@media only screen and (max-width: 500px) {

    .menu {
        padding-bottom: 20px;
        h1 {
            padding-top: 20px;
            width: 89%; 
            font-size: 1.25rem;
        }
                    
        &-box {
            padding: 0 7%;            
            ul li {
                margin: auto -5px;
                font-size: 1rem;
                h3 {
                    padding: 10px 0 5px;
                    letter-spacing: 1px; 
                    font-size: 1.125rem;
                }

                div:nth-child(2) {
                    margin-left: 0;
                }
            }

            .add {
                margin-bottom: -15px;
                h3 {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 405px) {

    .menu {  
        &-box {
            ul li h3 {
                font-size: 1.05rem;
            }  
                   
            .add h3 {
                font-size: 1.1rem;
            }
        }
    }
}

@media only screen and (max-width: 330px) {

    .menu {           
        ul li h3 {
            font-size: 0.95rem;
        }

        .add h3 {
            font-size: 0.99rem;
        }
    }
}