$navbar-backgroundcolor: #d6c6b4;	

nav {
    display: flex;
    flex-direction: row;
    background-color: $navbar-backgroundcolor;
    margin-right: auto;
    .navbar__logo {
        padding-left: 280px; 
        img {
            height: 8rem;
            display: block;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;        
        margin: auto 150px auto auto;
        li a {
            margin-left: 100px;
            color: black;
            font-size: 1.375rem;
            font-weight: 600;
            font-family:'Merriweather';
            &:hover {
                color: white;
            }
        }
    }
}

@media only screen and (max-width: 1330px) {

    nav {
        .navbar__logo {
            padding-left: 100px; 
        }

        ul {    
            margin: auto 50px auto auto;
            li a {
                margin-left: 60px;
        
            }  
        } 
    }
} 

@media only screen and (max-width: 850px) {

    nav {
        .navbar__logo {
            padding-left: 50px; 
            img {
                height: 6rem;
            }   
        }

        ul li a {
            margin-left: 30px;
        }
    }   
}

@media only screen and (max-width: 650px) {

    nav {
        .navbar__logo {
            padding-left: 17px; 
            img {
                height: 5rem;
            }  
        }

        ul {
            margin: auto 20px auto auto;
            li a {
                font-size: 1.125rem;
            }   
        }
    }
}

@media only screen and (max-width: 500px) {

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        .navbar__logo {
            padding: 0;
            background-color: $navbar-backgroundcolor;
            img {
                height: 4rem;
            }  
        }
    
        ul {
            margin: auto 25px auto auto;
            li a {
                margin-left: 15px;
                font-size: 1rem;
                &:hover {
                    color:black;
                }
                
                &:active {
                    color: white;
                }
            }
        }
    }       	
}      
        
@media only screen and (max-width: 368px) {

    nav {
        ul {
            margin: auto;
            li a {
                margin: 0 5px 0 4px;
            }
        }
    }       	
}      
        





    




 
 