$hover-color: white;
$navbar-background-color: #d6c6b4;	

nav {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    background-color: $navbar-background-color;
    ul:nth-child(1) {
        padding-left: 280px; 
        li img {
            display: block;
            height: 8rem;
        }
    }

    ul:nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: center;        
        margin: auto 150px auto auto;
        li a {
            margin-left: 100px;
            font-size: 1.375rem;
            font-weight: 600;
            font-family:'Merriweather';
            color: black;
            &:hover {
                color: $hover-color;
            }
        }
    }
}

@media only screen and (max-width: 1330px) {

    nav {
        ul:nth-child(1) {
            padding-left: 100px; 
        }

        ul:nth-child(2) {    
            margin: auto 50px auto auto;
            li a {
                margin-left: 60px;
        
            }  
        } 
    }
} 

@media only screen and (max-width: 850px) {

    nav {
        ul:nth-child(1) {
            padding-left: 50px; 
            li img {
                height: 6rem;
            }   
        }

        ul:nth-child(2) li a {
            margin-left: 30px;
        }
    }   
}

@media only screen and (max-width: 650px) {

    nav {
        ul:nth-child(1) {
            padding-left: 17px; 
            li img {
                height: 5rem;
            }  
        }

        ul:nth-child(2) {
            margin: auto 20px auto auto;
            li a {
                font-size: 1.125rem;
            }   
        }
    }
}

@media only screen and (max-width: 500px) {

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        ul:nth-child(1) {
            padding: 0;
            background-color: $navbar-background-color;
            li img {
                height: 4rem;
            }  
        }
    
        ul:nth-child(2) {
            margin: auto 25px auto auto;
            li a {
                margin-left: 15px;
                font-size: 0.95rem;
                &:hover {
                    color:black;
                }
                
                &:active {
                    color: $hover-color;
                }
            }
        }
    }       	
}      
        
@media only screen and (max-width: 356px) {

    nav ul:nth-child(2) {
        margin: auto;
        li a {
            margin: 0 6px;
        }
    }
}       	
      
        