.our-story {
    margin: auto;
    padding-bottom: 40px;
    background-color: $page-background-color;
    &__head {
        @extend .coffee-head;
        p {
            padding-bottom: 30px;
        }
    }

    img { 
        width: 100%;
    }

    h2:nth-child(3) {
        padding: 25px 0 20px;
        text-align: center;
        text-decoration: underline;
        letter-spacing: 1px; 
        font-size: 1.875rem;
    }
    
    form {
        display: grid;
        margin: auto;
        padding: 20px 0;
        width: calc(100% - 50px);
        max-width: 720px;
        border-radius: 10px;
        text-align: center; 
        font-weight: bold;
        font-size: 1.375rem;
        font-family: $footer-font;
        background-color: $input-color;
        color: $hover-color;
        .input1 {
            grid-column: 1;
            grid-row: 1;  
        }

        .input2 {
            grid-column: 2;
            grid-row: 1;
        }

        .input3 {
            grid-column: 1;
            grid-row: 2;
            padding-top: 12px;  
            input[type=text] {
                width: 18%;
                height: 60%;
                border-radius: 15%;
            }
        }

        .input4 {
            grid-column: 2;
            grid-row: 2;
            padding-top: 8px;  
        }

        .input5 {
            grid-column: 1 / span 2;
            grid-row: 3;
        }

        .input6 {
            grid-column: 1 / span 2;
            grid-row: 4;
            text-align: center;
        }
        
        textarea {
            width: 92%;
            height: 150px;
        }

        input[type=text], 
        input[type=date], 
        textarea {
            margin: 6px 12px 16px;
            padding: 12px 16px;
            outline:none;
            resize: vertical;
            border: 2px solid $input-color;
            border-radius: 15px;
            font-size: 1.375rem;
            font-family: 'Times New Roman', Times, serif;
            background-color: $hover-color;
            &:hover {
                border: 2px solid $hover-color;
            }
        }

        input[type=submit] {
            padding: 10px 20px;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            text-align: center;
            font-weight: bold;
            font-size: 1.25rem;
            font-family: $footer-font;
            background-color: $header-main-hover;
            color: $hover-color;
            &:hover {
                background-color: $navbar-background-color; 
            }
        }  

        input[type=text]:required:focus:invalid {
            border: 2px solid red;
        }
    }
}

@media only screen and (max-width: 1000px) {

    .our-story {
        &__head p {
            padding-bottom: 20px;
        } 

        h2:nth-child(3) {
            font-size: 1.563rem;
        } 

        form {
            max-width: 710px;
            font-size: 1.25rem;
            input[type=text],
            input[type=date],
            textarea {
                font-size: 1.25rem;
            }
        
            input[type=submit] {
                font-size: 1.1rem;
            }
        }   
    }
} 

@media only screen and (max-width: 700px) {

    .our-story {
        img { 
            height: 180px;
        }

        form {  
            width: calc(100% - 100px);
            max-width: 520px;
            .input2 {
                grid-column: 1;
                grid-row: 2;
            }
                
            .input3 {
                grid-column: 1;
                grid-row: 3;
                padding-top: 5px;  
                input[type=text] {
                    width: 14%;
                }
            }
                
            .input4 {
                grid-column: 1;
                grid-row: 4;
                padding: 5px 0 10px;
            }

            .input5 {
                grid-column: 1;
                grid-row: 5;
            }

            .input6 {
                grid-column: 1;
                grid-row: 6;
            }
        
            input[type=text], 
            input[type=date],
            textarea {
                width: 85%;   
            }

            input[type=date] {
                width: 42%;   
            }
        }
    }
}

@media only screen and (max-width: 500px) {

    .our-story {
        padding-bottom: 25px;
        &__head p {
                padding-bottom: 20px;            
        }

        img { 
            min-height: 180px;
            object-fit: cover;
        }

        h2:nth-child(3) {
            letter-spacing: 1px; 
            font-size: 1.25rem;
        }

        form {
            width: calc(100% - 40px);
            font-size: 1.125rem;
            .input3 input[type=text] {
                width: 19%;
            }

            input[type=text], 
            input[type=date],
            textarea {
                font-size: 1.125rem;
            }

            input[type=date] {
                width: 55%;   
            }

            input[type=submit] {
                font-size: 0.938rem;
                &:hover {
                    background-color: $header-main-hover; 
                } 

                &:active {
                    background-color: $navbar-background-color; 
                }    
            }
        }
    }
}