$header-font: 'Alfa Slab One';
$header-main-hover:#4a2c2a;
$hover-color: white;
$navbar-background-color: #d6c6b4;	
$page-background-color:#e6e0d4;	
$input-color:#b18f6a;
$footer-font: 'Merriweather';	

.our-story {
    margin: auto;
    padding-bottom: 40px;
    background-color: $page-background-color;
    &__head {
        margin: auto;
        width: 60%;
        h1 {
            padding-top: 30px;
            letter-spacing: 2px; 
            font-weight: lighter;
            font-family: $header-font;
            color: $header-main-hover;
        }

        p {
            padding-bottom: 30px;
        }
    }

    img { 
        width: 100%;
    }

    h1:nth-child(3) {
        padding: 20px 0;
        text-align: center;
        text-decoration: underline;
        letter-spacing: 1px; 
        font-family: $header-font;
        font-weight: lighter;
        color: $header-main-hover;
    }
    
    form {
        display: grid;
        margin: auto;
        padding: 20px 0;
        width: calc(100% - 50px);
        max-width: 720px;
        border-radius: 10px;
        text-align: center; 
        font-weight: bold;
        font-size: 1.375rem;
        font-family: $footer-font;
        background-color: $input-color;
        color: $hover-color;
        .input1 {
            grid-column: 1;
            grid-row: 1;  
        }

        .input2 {
            grid-column: 2;
            grid-row: 1;
        }

        .input3 {
            grid-column: 1;
            grid-row: 2;
            margin-bottom: -12px;
            input[type=text] {
                width: 15%;
                height: 50%;
                border-radius: 10%;
            }

            label {
                margin-right: 10px;
            }
        }

        .input4 {
            grid-column: 2;
            grid-row: 2;
            padding-top: 8px;
            label {
                margin-right: 10px;
            }   
        }

        .input5 {
            grid-column: 1 / span 2;
            grid-row: 3;
        }

        .input6 {
            grid-column: 1 / span 2;
            grid-row: 4;
            text-align: center;
        }
        
        textarea {
            width: 92%;
            height: 150px;
            resize: none;
        }

        input[type=text], 
        textarea {
            margin: 6px auto 16px;
            padding: 12px;
            outline:none;
            resize: vertical;
            border: 2px solid $input-color;
            border-radius: 15px;
            font-size: 1.375rem;
            font-family: 'Times New Roman', Times, serif;
            background-color: $hover-color;
            &:hover {
                border: 2px solid $hover-color;
            }
        }
        
        input[type=submit] {
            padding: 10px 20px;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            text-align: center;
            font-weight: bold;
            font-size: 1.25rem;
            font-family: $footer-font;
            background-color: $header-main-hover;
            color: $hover-color;
            &:hover {
                background-color: $navbar-background-color; 
            }
        }  

        input[type=text]:required:focus:invalid {
            border: 2px solid red;
        }
    }
}

@media only screen and (max-width: 1000px) {

    .our-story {
        &__head {
            h1 {
                font-size: 1.563rem;
            }

            p {
                padding-bottom: 20px;
            }
        } 

        h1:nth-child(3) {
            font-size: 1.563rem;
        } 

        form {
            max-width: 710px;
            font-size: 1.25rem;
            input[type=text],
            textarea {
                font-size: 1.25;
            }
        
            input[type=submit] {
                font-size: 1.1rem;
            }
        }   
    }
} 

@media only screen and (max-width: 700px) {

    .our-story {
        &__head {
            width: 90%;
        }

        img { 
            height: 180px;
        }

        form {  
            width: calc(100% - 100px);
            max-width: 520px;
            .input2 {
                grid-column: 1;
                grid-row: 2;
            }
                
            .input3 {
                grid-column: 1;
                grid-row: 3;
                input[type=text] {
                    width: 15%;
                    border-radius: 10%;
                }
            }
                
            .input4 {
                grid-column: 1;
                grid-row: 4;
                padding: 0 0 20px;
            }

            .input5 {
                grid-column: 1;
                grid-row: 5;
            }

            .input6 {
                grid-column: 1;
                grid-row: 6;
            }
        
            input[type=text], 
            textarea {
                width: 90%;   
            }
        }
    }
}

@media only screen and (max-width: 500px) {

    .our-story {
        padding-bottom: 25px;
        &__head {
            h1 {
                padding-top: 20px;
                font-size: 1.25rem;
            }

            p {
                padding-bottom: 20px;
                font-size: 1rem;
            }
        }

        img { 
            min-height: 180px;
            object-fit: cover;
        }

        h1:nth-child(3) {
            padding: 15px 0 20px;
            letter-spacing: 1px; 
            font-size: 1.25rem;
        }

        form {
            width: calc(100% - 45px);
            font-size: 1.125rem;
            input[type=text], 
            textarea {
                font-size: 1.125rem;
            }

            input[type=submit] {
                font-size: 0.938rem;
                &:hover {
                    background-color: $header-main-hover; 
                } 

                &:active {
                    background-color: $navbar-background-color; 
                }    
            }
        }
    }
}






