$header-font: 'Alfa Slab One';
$footer-font: 'Merriweather';	
$footer-backgroundcolor: rgb(99, 84, 95);
$footer-hover: #d6c6b4;

.ourstory {
    background-color: #e6e0d4;
    margin: auto;
    padding-bottom: 40px;

    &__head {
        width: 60%;
        margin: auto;
        h1 {
            padding-top: 30px;
            font-family: $header-font;
            font-weight: lighter;
            letter-spacing: 2px; 
        }
        p {
            text-align: justify;
            padding-bottom: 30px;
        }
    }

    &__img { 
        width: 100%;
        padding-bottom: 30px;
    }

    &__contact {
        width: calc(100% - 50px);
        max-width: 720px;
        margin: auto;
        font-size: 22px;
        text-align: center; 
        background-color: #b18f6a;
        font-family: $footer-font;
        color: white;
        border-radius: 10px;
        padding: 20px 0;
        h1 {
            text-align: center;
            font-weight: bold;
        }
    }
}

form {
    display: grid;
    width: 100%;
    padding: 10px 0;
    font-weight: bold;
    }

    .input1 {
        grid-column: 1;
        grid-row: 1;  
    }

    .input2 {
        grid-column: 2;
        grid-row: 1;
    }

    .input3 {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .input4 {
        grid-column: 1 / span 2;
        grid-row: 3;
        text-align: center;
    }
    
    textarea {
        width: 92%;
        height: 200px;
        resize: none;
    }

    input[type=text], textarea {
        background-color: white;
        padding: 12px;
        border-radius: 15px;
        font-size: 22px;
        outline:none;
        margin: 6px auto 16px;
        font-family: $footer-font;
        resize: vertical;
        &:hover {
            border: 2px solid black;
        }
    }
      
    input[type=submit] {
        background-color: #4a2c2a;
        padding: 10px 20px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: white;
        font-family: $footer-font;
        &:hover {
            background-color: #d6c6b4; 
        }
    }  

@media only screen and (max-width: 750px) {

.ourstory__contact {
    width: calc(100% - 100px);
    max-width: 520px;
}
        
form {
        
    .input2 {
        grid-column: 1;
        grid-row: 2;
    }
          
    .input3 {
        grid-column: 1;
        grid-row: 3;
    }
          
    .input4 {
        grid-column: 1;
        grid-row: 4;
    }
        
    input[type=text], textarea {
        font-size: 15px;
        width: 90%;   
    }
            
    input[type=submit] {
        font-size: 18px;
        }
    }
}

@media only screen and (max-width: 700px) {

.ourstory__head {
    width: 90%;
}
}

@media only screen and (max-width: 500px) {

.ourstory__head {
    h1 {
        letter-spacing: 2px; 
        font-size: 20px;
    }
    p {
    font-size: 18px;
    word-break: break-all;
    text-align: left;
    }
}

.ourstory__img { 
    min-height: 250px;
}

.ourstory__contact {
    width: calc(100% - 50px);
    h1 {
        font-size: 22px;
        padding-bottom: 10px;
    }
}

form {
    font-size: 18px;
}
}





