$header-font: 'Alfa Slab One';
$footer-font: 'Merriweather';	
$footer-backgroundcolor: rgb(99, 84, 95);	
$footer-hover: #d6c6b4;	
$page-backgroundcolor:#e6e0d4;	
$hover-link:#4a2c2a;
$input-color:#b18f6a;

.ourstory {
    background-color: $page-backgroundcolor;
    margin: auto;
    padding-bottom: 40px;

    &__head {
        width: 60%;
        margin: auto;
        h1 {
            padding-top: 30px;
            font-family: $header-font;
            font-weight: lighter;
            letter-spacing: 2px; 
        }
        p {
            text-align: justify;
            padding-bottom: 30px;
        }
    }

    &__img { 
        width: 100%;
    }

    &__contact {
        width: calc(100% - 50px);
        max-width: 720px;
        margin: auto;
        font-size: 22px;
        text-align: center; 
        font-family: $footer-font;
        padding-bottom: 20px;
        h1 {
            text-align: center;
            font-weight: bold;
            padding: 20px 0;
        }
    }
}

form {
    background-color: $input-color;
    display: grid;
    width: 100%;
    padding: 20px 0;
    font-weight: bold;
    border-radius: 10px;
    color: white;

    .input1 {
        grid-column: 1;
        grid-row: 1;  
    }

    .input2 {
        grid-column: 2;
        grid-row: 1;
    }

    .input3 {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .input4 {
        grid-column: 1 / span 2;
        grid-row: 3;
        text-align: center;
    }
    
    textarea {
        width: 92%;
        height: 200px;
        resize: none;
    }

    input[type=text], textarea {
        background-color: white;
        padding: 12px;
        border-radius: 15px;
        font-size: 22px;
        outline:none;
        border: 2px solid $input-color;
        margin: 6px auto 16px;
        font-family: $footer-font;
        resize: vertical;
        &:hover {
            border: 2px solid white;
        }
    }
      
    input[type=submit] {
        background-color: $hover-link;
        padding: 10px 20px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: white;
        font-family: $footer-font;
        &:hover {
            background-color: $footer-hover; 
        }
    }  

    input[type=text]:required:focus:invalid {
        border: 2px solid red;
    }
}

@media only screen and (max-width: 750px) {

.ourstory {
    padding-bottom: 30px;

    &__contact {
        width: calc(100% - 100px);
        max-width: 520px;
    }
} 

form {  
    .input2 {
        grid-column: 1;
        grid-row: 2;
    }
          
    .input3 {
        grid-column: 1;
        grid-row: 3;
    }
          
    .input4 {
        grid-column: 1;
        grid-row: 4;
    }
        
    input[type=text], textarea {
        width: 90%;   
    }
}
}

@media only screen and (max-width: 700px) {

.ourstory__head {
    width: 90%;
}
}

@media only screen and (max-width: 500px) {

.ourstory__head {
    h1 {
        letter-spacing: 2px; 
        font-size: 20px;
    }
    p {
        font-size: 18px;
        text-align: left;
    }
}

.ourstory__img { 
    min-height: 180px;
    object-fit: cover;
}

.ourstory__contact {
    width: calc(100% - 50px);
    h1 {
        font-size: 22px;
        padding-bottom: 10px;
    }
}

form {
    font-size: 18px;
    input[type=text], textarea {
        font-size: 15px;
    }

    input[type=submit] {
        font-size: 15px;
        &:hover {
            background-color: $hover-link; 
            &:active {
                background-color: $footer-hover; 
            }
        }
    }
}
}


