@import 'footer';
@import 'navbar';
@import 'menu';
@import 'coffee';
@import 'home';
@import 'our_story';

$main-font: 'Open Sans';
$navbar-background-color: #d6c6b4;	
$header-font: 'Alfa Slab One';
$header-main-hover:#4a2c2a;
$hover-color: white;
$page-background-color:#e6e0d4;	
$input-color:#b18f6a;
$footer-font: 'Merriweather';	
$footer-hover: #d6c6b4;
$footer-background-color: #63545f;	

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-size: 1.25rem;
}

html, 
body {
    height: 100vh;
    line-height: 1.5;
    font-family: $main-font;
}

li {
    list-style: none;
}
  
a {
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    
    section p {
        font-size: 1.125rem;
    }
}

@media screen and (max-width: 500px) {
    
    html, 
    body {
        margin-top: 32px;
    }
}