@import 'navbar';
@import 'home';
@import 'menu';
@import 'coffee';
@import 'our_story';
@import 'footer';
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa Slab One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open Sans&display=swap');

$main-font: 'Open Sans', 'Times New Roman', Times, serif;
$header-font: 'Alfa Slab One', 'Times New Roman', Times, serif;
$header-main-hover:#4a2c2a;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-size: 1.25rem;
}

html, 
body {
    height: 100vh;
    line-height: 1.5;
    font-family: $main-font;
}

h1 {
    letter-spacing: 2px; 
}

h1,
h2,
h3 {
    font-weight: lighter;
    font-family: $header-font;
    color: $header-main-hover;
}

li {
    list-style: none;
}
  
a {
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    
    section p {
        font-size: 1.125rem;
    }
}

@media screen and (max-width: 500px) {
    
    html, 
    body {
        margin-top: 32px;
    }
}






