$main-font: 'Open Sans', 'Times New Roman', Times, serif;
$header-font: 'Alfa Slab One', 'Times New Roman', Times, serif;
$header-main-hover:#4a2c2a;
$hover-color: white;
$page-background-color:#e6e0d4;
$input-color:#72503C;
$navbar-background-color: #d6c6b4;	
$footer-font: 'Merriweather', 'Times New Roman', Times, serif;
$footer-hover: #d6c6b4;
$footer-background-color: #63545f;